@using Newtonsoft.Json;
@model List<Investing.Models.SingleModelExchangeInstruments>
<link rel="stylesheet" href="~/css/instrument.css" />
<body>
    <div id="app">
        <div>
        <div class="section-btn-instruments">
            <button onclick="clearFilter()" class="btn-instrument" id="btnFilterStock">Все</button>
            <button onclick="filterByStock()" class="btn-instrument" id="btnFilterStock">Акции</button>
            <button onclick="filterByCurrency()" class="btn-instrument" id="btnFilterCurrency">Валюта</button>
            <button onclick="filterByBond()" class="btn-instrument" id="btnFilterBond">Облигации</button>
            <button onclick="filterByFunds()" class="btn-instrument" id="btnFilterFunds">Фонды</button>
            <button onclick="filterByFutures()" class="btn-instrument" id="btnFilterFutures">Фьючерсы</button>
        </div>
        <div class="section-name-filter">
                <h4 id="visible-insrument-filter"></h4>
            </div>
        </div>
        <div>
        <table class="table" id="allInstruments">
            <thead>
                <tr>
                    <th>Название</th>
                    <th>Тип инструмента</th>    
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                        <tr data-id="@item.SecId" data-instrument='@JsonConvert.SerializeObject(item)'>
                        <td>@item.SecName</td>
                        <td>@item.TypeInstrumentRussian</td>
                    </tr>
                }
            </tbody>
        </table>

        </div>
    </div>
    <script src="~/js/instrument.js"></script>
   
</body>