@using Newtonsoft.Json;
@model List<Investing.Models.SingleModelExchangeInstruments>
<body>
    <div id="app">
        <div class="section-btn-instruments">
            <div class="btn-instrument">
                <button class="btn-instrument">Акции</button>
                <button class="btn-instrument">Валюта</button>
                <button class="btn-instrument">Облигации</button>
                <button class="btn-instrument">Фонды</button>
                <button class="btn-instrument">Фьючерсы</button>
            </div>
        </div>
        <div>
        <table class="table" id="allInstruments">
            <thead>
                <tr>
                    <th>Название</th>
                    <th>Тип инструмента</th>    
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                        <tr data-id="@item.SecId" data-instrument='@JsonConvert.SerializeObject(item)'>
                        <td>@item.SecName</td>
                        <td>@item.TypeInstrumentRussian</td>
                    </tr>
                }
            </tbody>
        </table>

        </div>
    </div>
    <script src="~/js/instrument.js"></script>
   
</body>