@model List<Investing.Models.ViewModels.FundItemVM>

@{
    ViewData["Title"] = "Фонды (ETF) Московской биржи";
}

<h1>Фонды (ETF) Московской биржи</h1>

<table class="table" id="sortTable">
    <thead>
        <tr>
            <th>Тикер</th>
            <th>Название</th>
            <th>Цена</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Security.SECID</td>
                <td>@item.Security.SHORTNAME</td>
                <td>@(item.Marketdata?.MARKETPRICE2?.ToString() ?? item.Marketdata?.LAST?.ToString() ?? item.Security?.PREVPRICE?.ToString() ?? "-")</td>
            </tr>
        }
    </tbody>
</table>

